body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    color: #333;
    padding: 20px;
}

h1 {
    color: #b11e43;
}

button {
    background-color: #b11e43;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
nav {
    background-color: #b11e43;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}..product-card {
    width: 320px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
}

img {
    width: 100%;
    border-radius: 10px;
}.product-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
  }
.hero {
    background: linear-gradient(135deg, #222, #444);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: #ff6600;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #e65c00;
}
